.book-details {
    display: flex;
    justify-content: center;
    border: 1px solid black;
   padding: 5px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    width: 700px;
    box-shadow: 0 8px 9px 0 rgba(192, 9, 238, 0.678);
    
}
  
button {
    background-color: rgb(188, 34, 194);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 20px 0 0 10px;
    
}

button:hover{
    background-color: gray;
}
  
input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}
  